/* CSS GRIDS */

html {
    /* etiqueta raíz */
    /* 1 rem = 16px pero al colocar el font-size en 62.5% seria 1rem = 10px para valores mas redondos*/
    /* 1rem = 10px */
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}

body{
    padding-top: 106px;
}

/* le quitamos el formato de vinculo a la etiqueta <a> */
a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* quitamos las viñatas a las <ul> */
ul{
    list-style: none;
}

img{
    max-width: 100%; /* hace responsive nuestra imagen, asi el navegador no la pisa */
} 

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* grilla principal */
#grilla-body{
    display: grid;

    grid-template-areas: /* las comillas dobles nos separan las areas */
    "header header header" /* tres veces porque lo queremos de 3 columnas */
    "producto producto producto"
    "banner banner banner"
    "footer footer footer";

    grid-template-columns: repeat(3, 1fr); /* en fracciones le damos el tamaño de las columnas */

    background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO DEFINICIÓN LAS ÁREAS DEL grid-template-areas */
/* header */
#header-grilla{
    grid-area: header; /* asi le indicamos al grid-template-areas creado en #grilla-body que este es el header */
}

/* productos */
#productos-grilla{
    grid-area: producto;
}

/* banner */
#banner-grilla{
    grid-area: banner;
    background-color: #eaeaea;
    margin-top: 4rem;
    padding: 2rem;
}

/* footer */
#footer-grilla{
    grid-area: footer;
    text-align: center;
}
/* FIN DE LA DEFINICIÓN DE ÁREAS */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/*  INICIO HEADER */
/*  estilos header */
#navegacion-grilla{
    display: flex;
    gap: .8rem;
}

#navegacion-grilla li{
    background-color: lightseagreen;
    padding: .5rem 1rem;
}

.logo{
    height: 5rem;
    width: 13rem;
}

.funcionesHeader{
    gap: 1rem;
}

/* queries header */

@media screen and (max-width: 767px){
    #header-grilla{
        flex-direction: column;
    }
}

@media screen and (max-width: 399px){
    #navegacion-grilla{
        flex-direction: column;
    }
}
/* FIN HEADER */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO MAIN */
/* estilos section productos */
#productos-grilla h2,
#productos-grilla p{
    text-align: center;
}

.padre-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* coloca 3 cards por fila, osea en 3 columnas */
    row-gap: 2rem; /* para separar las filas una de otra, separa las cards */
    justify-items: center;
}

.card-hijo{
    cursor: pointer;
    width: 16rem;
    border: solid 2px white;
    display: flex; /* flex para poder centrar o acomodar todo a nuestro gusto */
    flex-direction: column; /* los elementos en columna */
    align-items: center; /* alineamos todos los elementos dentro de la card al centro */
    padding: 1rem; /* para separarlo de los bordes de la card */
}

.card-hijo img{
    width: 20rem;
    height: 15rem;
}

.imagenCarrousel{
    height: 750px;
}

/* queries section productos */

@media screen and (max-width: 1300px){
    .imagenCarrousel{
        height: 500px;
    }
}

@media screen and (max-width: 895px){
    .padre-cards{
        grid-template-columns: repeat(2, 1fr); /* en vez de 3 cards, hacemos que se muestren dos para que no se aplasten las 3 */
    }

    .imagenCarrousel{
        height: 550px;
    }
}

@media screen and (max-width: 767px){
    .padre-cards{
        display: flex; /* lo pasamos a flex en pantallas mas chicas porque no necesitamos acomodarlos en columnas sino uno abajo del otro */
        flex-direction: column; /* y colocamos en columnas */
        align-items: center;
    }

    .imagenCarrousel{
        height: 350px;
    }
}

@media screen and (max-width: 450px){
    .imagenCarrousel{
        height: 200px;
    }
}

/* estilos section banner */
#banner-grilla h2{
    text-align: center;
}

.padre-banners{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.banners-caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

/* queries section banner */

@media screen and (max-width: 992px){
    .padre-banners{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px){
    .padre-banners{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* FIN MAIN */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO FOOTER */
/* estilos footer */

/* queries footer */

/* FIN FOOTER */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */


/* INICIO MODIFICACION CSS BOOTSTRAP */

/* FIN MODIFICACION CSS BOOTSTRAP */
