*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    padding-top: 106px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
} 

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* grilla principal */
#grilla-body{
    display: grid;

    grid-template-areas: 
    "header header header" 
    "breadcrumbs breadcrumbs breadcrumbs"
    "caracteristicas caracteristicas caracteristicas"
    "banner banner banner"
    "formulario formulario formulario"
    "footer footer footer";

    grid-template-columns: repeat(3, 1fr);

    background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO DEFINICIÓN LAS ÁREAS DEL grid-template-areas */
/* header */
#header-grilla{
    grid-area: header;
}

.breadcrumbs{
    grid-area: breadcrumbs;
}

/* caracteristicas */
#caracteristicas-grilla{
    grid-area: caracteristicas;
}

/* banner */
#banner-grilla{
    grid-area: banner;
    background-color: #eaeaea;
    margin-top: 1rem;
    padding: 4rem;
}

/* formulario */
#formulario-grilla{
    grid-area: formulario;
    margin-top: 2rem;
}

/* footer */
#footer-grilla{
    grid-area: footer;
    text-align: center;
    background-color: #eaeaea;
    padding: 2rem;
    margin-top: 2rem;
}
/* FIN DE LA DEFINICIÓN DE ÁREAS */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/*  INICIO HEADER */
/*  estilos header */
#navegacion-grilla{
    display: flex;
    gap: .8rem;
}

#navegacion-grilla li{
    background-color: lightseagreen;
    padding: .5rem 1rem;
}

.logo{
    height: 5rem;
    width: 13rem;
}

.funcionesHeader{
    gap: 1rem;
}

.nombreEmpresa{
    color: black;
}

/* queries header */
@media screen and (max-width: 992px){
    .funcionesHeader{
        flex-direction: row;
        order: -1;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 767px){
    #header-grilla{
        flex-direction: column;
    }
}

@media screen and (max-width: 520px){
    .iconosAcciones{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
    }

    .logo{
        width: 10rem;
        height: 4.5rem;
    }
}

@media screen and (max-width: 399px){
    #navegacion-grilla{
        flex-direction: column;
    }
}
/* FIN HEADER */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO MAIN */

.breadcrumb {
    margin-left: 1rem;
    margin-top: .5rem;
    width: max-content;
}

.paginaActual{
    color: black;
}

.subPaginas{
    color: grey;
}

/* estilos section caracteristicas */
#caracteristicas-grilla h2,
#caracteristicas-grilla p{
    text-align: center;
}

#caracteristicas-grilla h1{
    padding-top: 2rem;
}

.padre-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; 
    justify-items: center;
}

.card-hijo{
    cursor: pointer;
    width: 16rem;
    border: solid 2px white;
    display: flex; /* flex para poder centrar o acomodar todo a nuestro gusto */
    flex-direction: column; /* los elementos en columna */
    align-items: center; /* alineamos todos los elementos dentro de la card al centro */
    padding: 1rem; /* para separarlo de los bordes de la card */
}

.card-hijo-bootstrap{
    cursor: pointer;
    width: 18rem;
    height: 30rem;
    align-items: center;
    margin-top: 2rem;
}

.card-hijo-bootstrap img{
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
}

.card-hijo img{
    width: 20rem;
    height: 15rem;
}

.imagenCarrousel{
    height: 750px;
}

/* queries section caracteristicas */

@media screen and (max-width: 1300px){
    .imagenCarrousel{
        height: 500px;
    }
}

@media screen and (max-width: 1267px){
    .padre-cards{
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media screen and (max-width: 950px){
    .padre-cards{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (max-width: 895px){
    .padre-cards{
        grid-template-columns: repeat(2, 1fr); /* en vez de 3 cards, hacemos que se muestren dos para que no se aplasten las 3 */
    }

    .imagenCarrousel{
        height: 550px;
    }
}

@media screen and (max-width: 767px){
    .padre-cards{
        display: flex; /* lo pasamos a flex en pantallas mas chicas porque no necesitamos acomodarlos en columnas sino uno abajo del otro */
        flex-direction: column; /* y colocamos en columnas */
        align-items: center;
    }

    .imagenCarrousel{
        height: 350px;
    }
}

@media screen and (max-width: 450px){
    .imagenCarrousel{
        height: 200px;
    }
}

/* estilos section banner */
#banner-grilla h2{
    text-align: center;
}

.padre-banners{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    gap: 3rem;
}

.banners-caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

/* queries section banner */

@media screen and (max-width: 992px){
    .padre-banners{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px){
    .padre-banners{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* FIN MAIN */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO FORMULARIO */
/* estilos formularios */
    #padre-formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #padre-formulario p:nth-child(1){
        font-size: 12px;
        margin-bottom: .2rem;
    }

    #padre-formulario h1{
        margin-bottom: 1.5rem;
    }

    .formularioContacto{
        text-align: start;
        width: 50%;
        margin-top: 2rem;
    }

/* FIN FORMULARIO */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO GALERIA */
/* estilos section galeria */
#galeria-grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
}

.imagenGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemGaleria:nth-child(){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.itemGaleria:nth-child(4){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.itemGaleria:nth-child(8){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.itemGaleria:nth-child(10){
    grid-row-start: span 2;
}

.itemGaleria:nth-child(11){
    grid-row-start: span 2;
}

.itemGaleria:nth-child(12){
    grid-row-start: span 2;
}

/* queries section galeria */
@media screen and (max-width: 1200px){
    #galeria-grilla{
        grid-template-columns: repeat(2, 1fr);
    }

    .itemGaleria:nth-child(2){
        grid-row-start: span 2;
    }

    .itemGaleria:nth-child(5){
        grid-row-start: span 2;
    }

    .itemGaleria:nth-child(8){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .itemGaleria:nth-child(9){
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .itemGaleria:nth-child(10){
        grid-row-start: span 3;
    }

    .itemGaleria:nth-child(11){
        grid-row-start: span 2;
    }
}

@media screen and (max-width: 767px){
    #galeria-grilla{
        display: flex;
        flex-direction: column;
    }
}

/* FIN GALERIA */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO FOOTER */
/* estilos footer */

/* queries footer */

/* FIN FOOTER */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */


/* INICIO MODIFICACION CSS BOOTSTRAP */

/* FIN MODIFICACION CSS BOOTSTRAP */
