/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO FORMULARIO */
/* estilos formularios */
#padre-formulario{
    @include flex-column-center-center;
    padding-bottom: 2rem;

    h1{
        margin-bottom: 1.5rem;
    }

    & p:nth-child(1){
        font-size: 12px;
        margin-bottom: .2rem;
    }
}

.formularioContacto{
    text-align: start;
    width: 50%;
    margin-top: 2rem;
}

/* FIN FORMULARIO */
