/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* INICIO FORMULARIO */
/* estilos formularios */

#padre-formulario{
    @include flex-column-center-center;
    padding-bottom: 2rem;

    h1{
        margin-bottom: 1.5rem;
    }

    & p{
        font-size: 12px;
        margin-bottom: .2rem;
        font-weight: 500;
    }
}

.formularioContacto{
    text-align: start;
    width: 50%;
    margin-top: 2rem;
}

.row:has(input:required) label:after {
    content: " *";
    color: red;
}

/* FIN FORMULARIO */
