/* Variables para colores */
$bg-body: white;
$color-primario: lightblue;
$color-secundario: lightgreen;

/* Fuentes */
$fuente-grande: 3rem;
$fuente-chica: 1rem;
$fuente-titulos: 'Roboto', sans-serif; /* fuente google */
$fuente-clara: #fff;

/* Imagenes */
$bg-imagen: url(...);

/* Tamaños @mediaqueries */
$pantalla-xl: 1200px;
$pantalla-grande: 992px;
$pantalla-mediana: 768px;
$pantalla-chica: 500px;